#shellcheck disable=SC2148,SC2155
export SOPS_AGE_KEY_FILE="$HOME/.config/sops/age/keys.txt"
export SOPS_AGE_RECIPIENTS=$(<.sops.pub.asc)
# export DIRENV_VERSION=$(curl -sL https://api.github.com/repos/direnv/direnv/releases/latest | jq -r ".tag_name")
export FLUX_VERSION=$(curl -sL https://api.github.com/repos/fluxcd/flux2/releases/latest | jq -r ".tag_name")
export K3D_VERSION=$(curl -sL https://api.github.com/repos/k3d-io/k3d/releases/latest | jq -r ".tag_name")
export LATEST_K3S_VERSION=$(curl -sL https://api.github.com/repos/k3s-io/k3s/releases/latest | jq -r ".tag_name")
export K3S_VERSION=${LATEST_K3S_VERSION/+/-}
export VIRTUAL_ENV="$(expand_path ./.venv)"

export CLUSTER_NAME=${CLUSTER_NAME:-k3s}
export ISSUER_EMAIL=${ISSUER_EMAIL:-yourname@gmail.com}

export DEFAULT_IFACE=$(ip route | grep "default" | head -n 1 | awk '{print $5}')
export DEFAULT_GATEWAY=$(ip route | grep "default" | head -n 1 | awk '{print $3}')
export CURRENT_IP=$(ip addr show ${DEFAULT_IFACE} | grep "inet " | awk '{print $2}' | cut -d '/' -f 1 | tr -d ' ' | head -n 1)
export CURRENT_CIDR=$(ip route | grep "proto kernel scope link" | grep ${DEFAULT_IFACE} | awk '{print $1}')
export CURRENT_EXTERNAL_IP=$(curl -sS https://icanhazip.com | tr -d '\"')
export HOSTNAME=$(cat /etc/hostname)

export SHARED_PATH="$(expand_path ./k3s-nodes-shared)"

PATH_add "$(expand_path ./.venv/bin)"
PATH_add "$(expand_path ~/.local/bin)"
